<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleClicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <SimpleClicker.Properties.Settings>
            <setting name="isLappingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lappingCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="delayTimeStart" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="delayTimeStop" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="updateThreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="preparationTime" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="timePrecision" serializeAs="String">
                <value>4</value>
            </setting>
        </SimpleClicker.Properties.Settings>
    </userSettings>
</configuration>