<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleClicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
      <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
    </appSettings>
    <userSettings>
        <SimpleClicker.Properties.Settings>
            <setting name="isLappingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lappingCount" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="delayTimeStart" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="delayTimeStop" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="updateThreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="preparationTime" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="timePrecision" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="lapsAllowancesType" serializeAs="String">
                <value>all-durations</value>
            </setting>
            <setting name="lapsSortingType" serializeAs="String">
                <value>last-focused</value>
            </setting>
            <setting name="lapsDisplayType" serializeAs="String">
                <value>real-time</value>
            </setting>
            <setting name="isDelayTimeShows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="preparationTimeColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="delayTimeColor" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="startTimeColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="isAlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pauseTimeColor" serializeAs="String">
                <value>0, 128, 255</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="moreOptionsLastSelTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="darkModeType" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="borderColorType" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="sunriseTime" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="sunsetTime" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="isCompatibilityMode" serializeAs="String">
                <value>False</value>
            </setting>
        </SimpleClicker.Properties.Settings>
    </userSettings>
</configuration>